<main style="background-color: #282828;">
    <div class="d-flex container card justify-content-center">
        <div class="row">
            <div class="col-4">
                <img class="m-3"
                    src="https://media.themoviedb.org/t/p/w300_and_h450_bestv2/drX1N080c08fn0xencilweSzW97.jpg"
                    alt="series poster">
            </div>
            <div class="col-7">
                <div class="row mt-3">
                    <h3 class="col-6">Dan Da Dan (2024)</h3>
                    <img class="col-2 pegi-img mt-1" src="./assets/TP.png" alt="PEGI logo">
                    <p>Animación, Ciencia ficción, Familia · 1h 42m</p>
                </div>

                <div>
                    <h2>Vista General</h2>
                    <p>Discover your true nature.<br>
                        Tras una inesperada tragedia familiar, tres generaciones de la familia Deetz
                        regresan a Winter River. La vida de Lydia, todavía atormentada por Bitelchús,
                        da un vuelco cuando su rebelde hija adolescente, Astrid, descubre la misteriosa
                        maqueta de la ciudad en el desván y el portal al Más Allá se abre accidentalmente.
                        Con los problemas que se avecinan en ambos reinos, es sólo cuestión de tiempo
                        que alguien diga el nombre de Bitelchús tres veces y el travieso demonio
                        regrese para desatar su propio caos.</p>
                </div>

                <div>
                    <p>Chris Sanders <br>
                        Director, Screenplay
                    </p>
                </div>

                <div class="row">
                    <p class="col-3">Título Original<br>
                        The Wild Robot
                    </p>

                    <p class="col-3">Idioma Original<br>
                        Inglés
                    </p>

                    <p class="col-3">Chris Sanders<br>
                        Director, Screenplay
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="container m-5">
        <div>
            <h2>Plataformas</h2>
        </div>

        <div class="row">
            <img class="col-1" src="https://media.themoviedb.org/t/p/original/pbpMk2JmcoNnQwx5JGpXngfoWtp.jpg"
                alt="netflix logo">
            <img class="col-1" src="https://media.themoviedb.org/t/p/original/97yvRBw1GzX7fXprcF80er19ot.jpg"
                alt="disney logo">
            <img class="col-1" src="https://media.themoviedb.org/t/p/original/9ghgSC0MA082EL6HLCW3GalykFD.jpg"
                alt="apple TV logo">
            <img class="col-1" src="https://media.themoviedb.org/t/p/original/seGSXajazLMCKGB5hnRCidtjay1.jpg"
                alt="amazon logo">
            <img class="col-1" src="https://media.themoviedb.org/t/p/original/mXeC4TrcgdU6ltE9bCBCEORwSQR.jpg"
                alt="crunchyroll logo">
        </div>
    </div>

    <div class="container m-5">
        <div>
            <h2>Reparto Principal</h2>
        </div>
        <div class="row">
            <div class="card col-2 m-4">
                <img class="card-sprite m-2"
                    src="https://media.themoviedb.org/t/p/w300_and_h450_bestv2/gCIdbnV9D3lzTaOB0YtuKDz6Nt0.jpg"
                    alt="Kit Connor image">
                <div class="text-center">
                    <p> <b>Kit Connor</b> <br>
                        Brightbill (voice)
                    </p>
                </div>
            </div>

            <div class="card col-2 m-4">
                <img class="card-sprite m-2"
                    src="https://media.themoviedb.org/t/p/w300_and_h450_bestv2/gCIdbnV9D3lzTaOB0YtuKDz6Nt0.jpg"
                    alt="Kit Connor image">
                <div class="text-center">
                    <p> <b>Kit Connor</b> <br>
                        Brightbill (voice)
                    </p>
                </div>
            </div>

            <div class="card col-2 m-4">
                <img class="card-sprite m-2"
                    src="https://media.themoviedb.org/t/p/w300_and_h450_bestv2/gCIdbnV9D3lzTaOB0YtuKDz6Nt0.jpg"
                    alt="Kit Connor image">
                <div class="text-center">
                    <p> <b>Kit Connor</b> <br>
                        Brightbill (voice)
                    </p>
                </div>
            </div>

            <div class="card col-2 m-4">
                <img class="card-sprite m-2"
                    src="https://media.themoviedb.org/t/p/w300_and_h450_bestv2/gCIdbnV9D3lzTaOB0YtuKDz6Nt0.jpg"
                    alt="Kit Connor image">
                <div class="text-center">
                    <p> <b>Kit Connor</b> <br>
                        Brightbill (voice)
                    </p>
                </div>
            </div>
        </div>
    </div>

    <div class="container m-5">
        <h2>Temporada actual</h2>
        <div class="card">
            <div class="row m-4">
                <div class="col-3">
                    <img class="m-3 card-sprite"
                        src="https://media.themoviedb.org/t/p/w300_and_h450_bestv2/drX1N080c08fn0xencilweSzW97.jpg"
                        alt="series season 1">
                </div>
                <div class="col-9">
                    <h2>Temporada 1</h2>
                    <p>2024 • 12 episodios</p>
                    <p>When high schooler Momo, from a family of spirit mediums, first meets her classmate Okarun, an occult geek,
                        they argue—Momo believes in ghosts but denies aliens, and Okarun believes in aliens but denies ghosts.
                        When it turns out both phenomena are real, Momo awakens a hidden power and Okarun gains the power
                        of a curse. Together, they must challenge the paranormal forces threatening their world.</p>
                </div>
            </div>
        </div>
    </div>

    <div class="container m-5">
        <h2>Media</h2>
        <div class="row">
            <img class="col-6"
                src="https://media.themoviedb.org/t/p/w533_and_h300_bestv2/jlbUx0aHJupDVDlCo0R7UxSaUUd.jpg"
                alt="series media 1">
        </div>
    </div>
</main>