<main>
    <div class="container-fluid">
        <ngb-alert *ngIf="alertMessage" [type]="alertType" (closed)="alertMessage = null"
            class="custom-alert alert alert-success alert-dismissible fade show">
            {{ alertMessage }}
        </ngb-alert>
        <div class="row justify-content-center">
            <div class="col-12 d-flex justify-content-center">
                <div class="card tamayoInfo">
                    <div class="card-body d-flex">
                        <div class="col-2">
                            @if(oneSeries!.poster_path){
                            <img [src]="getImagen(oneSeries!.poster_path)" alt="{{oneSeries!.name}}" class="img-fluid">
                            }@else {
                            <img src="http://placehold.co/250x450" alt="sin imagen">
                            }
                        </div>
                        <div class="col-9 ms-5 mt-1">
                            <div>
                                <h1>{{oneSeries!.name}}</h1>
                                <div class="d-flex">
                                    @for (item of oneSeries?.genres; track item.id) {
                                    <p class="me-2">{{item.name}} • </p>
                                    }
                                    <p>{{oneSeries!.number_of_seasons}} Temporadas.</p>
                                </div>

                            </div> <br> <br>

                            <div>
                                <h4 class="text-start">Vista General</h4>
                                <p><i>{{oneSeries!.tagline}}</i><br>
                                    {{oneSeries!.overview}}</p>
                            </div>
                            <div class="row mt-5">
                                <p class="col-3">Título Original<br>
                                    {{oneSeries!.original_name}}
                                </p>

                                <p class="col-3">Idioma Original<br>
                                    {{oneSeries!.spoken_languages[0].name}}
                                </p>
                                <div class="col-3">
                                    <p class="mb-0">Tu Valoración</p>
                                    <div class="d-flex align-items-center">

                                        <ngb-rating class="rating-star" [(rate)]="rating" [max]="5" [starTemplate]="t"
                                            (rateChange)="onRateChange(rating)" />
                                        @if(rating > 0){
                                        <button class="btn btn-dark ms-2 btn-sm mb-1" (click)="openModal(delete)">
                                            <i class="bi bi-x"></i>
                                        </button>
                                        }
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="mt-5 divMargin">
            <h4>Plataformas</h4>
            <div>
                @if(buyPlatform) {
                @for(item of buyPlatform; track item.provider_id) {
                <img [src]="getPlatformLogo(item.logo_path)" class="tamayoImagen m-2" alt="{{item.provider_name}}">
                }
                }
                @else {
                <p>No disponible en ninguna plataforma.</p>
                }
            </div>
        </div>

        <div class="mt-5 divMargin">
            <h4 class="text-light">Reparto</h4>
            <div class="scrollCardPeli">
                @for (item of cast; track item.id) {
                @if(item){
                <a class="text-decoration-none" [routerLink]="['/actor-detail', item.id]">
                    <div class="card scrollCard me-3 mb-2">
                        <div>
                            @if(item.profile_path){
                            <img [src]="getImagen(item.profile_path!)" class="tamayoImagen" alt="{{item.name}}">
                            }@else {
                            <img src="http://placehold.co/150x230" alt="sin imagen">
                            }
                        </div>
                        <div class="mt-2">
                            <p>{{item.name}}</p>
                            <p>{{item.character}}</p>
                        </div>
                    </div>
                </a>
                }@else {
                <p>No tenemos reparto disponible.</p>
                }
                }
            </div>
        </div>

        <div class="mt-5 divMargin">
            <h4>Temporadas</h4>
            <div>
                @for (item of seasons; track item.id) {
                <div class="card temporadaCard me-3 mb-2">
                    <div class="d-flex">
                        <div class="positionImg">
                            @if(item.poster_path){
                            <img [src]="getImgChapter(item.poster_path)" class="tamayoImagen" alt="{{item.name}}">
                            }@else {
                            <img src="http://placehold.co/130x195" alt="sin imagen">
                            }
                        </div>

                        <div class="flex-column ms-4">
                            <div>
                                @if (item.season_number) {
                                <h5 class="text-light mt-2">Temporada {{item.season_number}}</h5>
                                }@else {
                                <h5 class="text-light mt-2">No tenemos el número de la temporada</h5>
                                }

                            </div>
                            <div>
                                @if(item.air_date && item.episode_count){
                                <p>{{item.air_date.slice(0,4)}} • {{item.episode_count}} episodios</p>
                                }@if(!item.air_date && item.episode_count) {
                                <p>Año desconocido • {{item.episode_count}} episodios</p>
                                }@if(item.air_date && !item.episode_count){
                                <p>{{item.air_date.slice(0,4)}} • Episodios no encontrados</p>
                                }@if(!item.air_date && !item.episode_count) {
                                <p>Año desconocido • Episodios no encontrados</p>
                                }
                            </div>

                            <div>
                                @if(item.season_number && item.air_date){
                                <p>The {{item.season_number}} season of {{oneSeries?.name}}, was released on
                                    {{item.air_date |
                                    date:
                                    "longDate"}}.</p>

                                }@else {
                                <p>No tenemos dicha información</p>
                                }
                                @if(item.overview){
                                <p>{{item.overview}}</p>
                                }@else {
                                <p class="text-light">No tenemos descripcion. </p>
                                }

                            </div>
                        </div>
                    </div>

                </div>
                }
            </div>
        </div>

        <div class="mt-5 divMargin">
            <h4>Media</h4>
            <div class="scrollCardMedia">
                @for (item of imgMedia?.backdrops; track $index) {
                <div class="card scrollCardMediaBack me-3 mb-2">
                    <div>
                        @if(item.file_path){
                        <img [src]="getImgMedia(item.file_path!)" class="tamayoImagen" alt="{{item}}">
                        }@else {
                        <img src="http://placehold.co/150x230" alt="sin imagen">
                        }
                    </div>
                </div>
                }
            </div>
        </div>
    </div>
</main>

<ng-template #t let-fill="fill">
    <span class="star" [class.full]="fill === 100">
        <span class="half" [style.width.%]="fill">★</span>★
    </span>
</ng-template>

<ng-template #delete let-modal>
    <div class="modal-content">
        <div class="modal-header d-flex justify-content-between">
            <h4 class="modal-title">Eliminar valoración</h4>
            <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
        </div>
        <div class="modal-body">
            <div class="modal-body">
                ¿Está seguro de que desea eliminar esta valoración?
                <div class="d-flex justify-content-end mt-3">
                    <button type="button" class="btn btn-danger" (click)="ConfirmDelete(modal)"
                        data-bs-dismiss="modal">Eliminar</button>
                </div>
            </div>
        </div>
    </div>
</ng-template>