p, h3, h2 {
    color: white;
}

.card {
    background-color: #383838;
    border-radius: 20px;
}

img {
    border-radius: 20px;
}

.card-sprite {
    width: 150px;
    height: 225px;
}

.pegi-img {
    width: 5rem;
    height: 1.5rem;
}

.media-img {
    height: 200px;
}