<div class="container-fluid mt-3 px-5">
    <h1 class="title mb-4 text-white">Valoraciones</h1>

    <div class="row">
        <h4 (click)="showMovies = !showMovies">
            Peliculas
            <i class="bi" [ngClass]="showMovies ? 'bi-chevron-up' : 'bi-chevron-down'"></i>
        </h4>
        @if (showMovies){
        @for (movie of movieList; track movie.id) {
        <div class="col-3 mb-5">
            <div class="card movie-card d-flex flex-row position-relative">
                <a class="text-decoration-none movie-link" [routerLink]="['/movie-detail', movie.id]">
                    @if(movie.poster_path) {
                    <img class="img-card" [src]="getImage(movie.poster_path)" alt="{{movie.title}}">
                    }@else {
                    <img class="img-card" src="http://placehold.co/194x291" alt="sin imagen">
                    }
                    <div class="card-body d-flex flex-column justify-content-center">
                        <h5 class="card-title text-center fs-5 mb-2"
                            [ngClass]="movie.title.length > 40 ? 'fs-5' : 'fs-4'">
                            {{movie.title}}</h5>
                        <p class="card-text text-center">{{movie.release_date | date:"mediumDate"}}</p>
                        <ngb-rating class="rating-star" [rate]="movie.rating/2.0" [readonly]="true" [max]="5"
                            [starTemplate]="t" />
                    </div>
                    <div class="rating">{{getRatingPercentaje(movie.vote_average) | number:'1.0-0'}}%</div>
                </a>
                <button class="btn btn-dark btn-sm delete-rating" (click)="openModal(delete, movie.id, 'movie')">
                    <i class="bi bi-x"></i>
                </button>
            </div>
        </div>
        }
        }

        <ngb-pagination class="d-flex justify-content-center"
            [collectionSize]="totalPagesMovie * 10"
            (pageChange)="onPageMovie($event)"
            [(page)]="pageMovie"
            [maxSize]="10"
            [boundaryLinks]="true">
        </ngb-pagination>
    </div>
    <div class="row">
        <h4 (click)="showSeries = !showSeries">
            Series
            <i class="bi" [ngClass]="showSeries ? 'bi-chevron-up' : 'bi-chevron-down'"></i>
        </h4>
        @if (showSeries) {
        @for (serie of serieList; track serie.id) {
        <div class="col-3 mb-5">
            <div class="card movie-card d-flex flex-row position-relative">
                <a class="text-decoration-none movie-link" [routerLink]="['/series-detail', serie.id]">
                    @if(serie.poster_path) {
                    <img class="img-card" [src]="getImage(serie.poster_path)" alt="{{serie.name}}">
                    }@else {
                    <img class="img-card" src="http://placehold.co/194x291" alt="sin imagen">
                    }
                    <div class="card-body d-flex flex-column justify-content-center">
                        <h5 class="card-title text-center fs-5 mb-2" [ngClass]="serie.name.length > 40 ? 'fs-5' : 'fs-4'">
                            {{serie.name}}</h5>
                        <p class="card-text text-center">{{serie.first_air_date | date:"mediumDate"}}</p>
                        <ngb-rating class="rating-star" [rate]="serie.rating/2.0" [readonly]="true" [max]="5"
                            [starTemplate]="t" />
                    </div>
                    <div class="rating">{{getRatingPercentaje(serie.vote_average) | number:'1.0-0'}}%</div>
                </a>
                <button class="btn btn-dark btn-sm delete-rating" (click)="openModal(delete,serie.id, 'serie')">
                    <i class="bi bi-x"></i>
                </button>
            </div>
        </div>
        }
        }
        <ngb-pagination class="d-flex justify-content-center"
            [collectionSize]="totalPagesSerie * 10"
            (pageChange)="onPageSerie($event)"
            [(page)]="pageSerie"
            [maxSize]="10"
            [boundaryLinks]="true">
        </ngb-pagination>
    </div>
</div>

<ng-template #t let-fill="fill">
    <span class="star" [class.full]="fill === 100">
        <span class="half" [style.width.%]="fill">★</span>★
    </span>
</ng-template>

<ng-template #delete let-modal>
    <div class="modal-content">
        <div class="modal-header d-flex justify-content-between">
            <h4 class="modal-title">Eliminar valoración</h4>
            <button type="button" class="btn-close btn-close-white " aria-label="Close"
                (click)="modal.dismiss('Cross click')"></button>
        </div>
        <div class="modal-body">
            <div class="modal-body">
                ¿Está seguro de que desea eliminar esta valoración?
                <div class="d-flex justify-content-end mt-3">
                    <button type="button" class="btn btn-danger" (click)="ConfirmDelete()"
                        data-bs-dismiss="modal">Eliminar</button>
                </div>
            </div>
        </div>
    </div>
</ng-template>
