<div class="container-fluid mt-3 px-5">
    <h1 class="title mb-4 text-white">Valoraciones</h1>

    <div class="row">
        <h4>Peliculas</h4>
        @for (movie of movieList; track movie.id) {
        <div class="col-3 mb-5">
            <a class="text-decoration-none" [routerLink]="['/movie-detail', movie.id]">
                <div class="card movie-card d-flex flex-row">
                    @if(movie.poster_path) {
                    <img class="img-card" [src]="getImage(movie.poster_path)" alt="{{movie.title}}">
                    }@else {
                    <img class="img-card" src="http://placehold.co/194x291" alt="sin imagen">
                    }
                    <div class="card-body d-flex flex-column justify-content-center">
                        <h5 class="card-title text-center fs-5 mb-2"
                            [ngClass]="movie.title.length > 40 ? 'fs-5' : 'fs-4'">
                            {{movie.title}}</h5>
                        <p class="card-text text-center">{{movie.release_date | date:"mediumDate"}}</p>

                        <ngb-rating class="rating-star" [rate]="movie.rating/2.0" [readonly]="true" [max]="5"
                            [starTemplate]="t" />

                    </div>
                    <div class="rating">{{getRatingPercentaje(movie.vote_average) | number:'1.0-0'}}%</div>
                </div>
            </a>
        </div>
        }

    </div>
    <div class="row">
        <h4>Series</h4>
        @for (serie of serieList; track serie.id) {
        <div class="col-3 mb-5">
            <a class="text-decoration-none" [routerLink]="['/series-detail', serie.id]">
                <div class="card serie-card d-flex flex-row">
                    @if(serie.poster_path) {
                    <img class="img-card" [src]="getImage(serie.poster_path)" alt="{{serie.name}}">
                    }@else {
                    <img class="img-card" src="http://placehold.co/194x291" alt="sin imagen">
                    }
                    <div class="card-body d-flex flex-column justify-content-center">
                        <h5 class="card-title text-center fs-5 mb-2"
                            [ngClass]="serie.name.length > 40 ? 'fs-5' : 'fs-4'">
                            {{serie.name}}</h5>
                        <p class="card-text text-center">{{serie.first_air_date | date:"mediumDate"}}</p>

                        <ngb-rating class="rating-star" [rate]="serie.rating/2.0" [readonly]="true" [max]="5"
                            [starTemplate]="t" />
                    </div>
                    <div class="rating">{{getRatingPercentaje(serie.vote_average) | number:'1.0-0'}}%</div>

                </div>
            </a>
        </div>
        }
    </div>
</div>

<ng-template #t let-fill="fill">
    <span class="star" [class.full]="fill === 100">
        <span class="half" [style.width.%]="fill">★</span>★
    </span>
</ng-template>