<div class="container-fluid mt-3 px-5">
    <div class="top-card p-3">
        <h2 class="text-center p-3">{{getText('FAVORITES')}}</h2>
        <div class="row justify-content-center text-center">
            <div class="d-flex justify-content-center">
                <p class="me-4">{{totalCount}} {{getText('ITEMS_IN_LIST')}}</p> |
                <p class="ms-4 me-4">{{getRatingPercentaje(averageRating) | number:'1.0-0'}}% {{getText('AVERAGE_RATING')}}</p>
            </div>
        </div>
    </div>

    <div class="row">
        <h4 (click)="showMovies = !showMovies" class="mt-4">
            {{getText('MOVIES')}}
            <i class="bi" [ngClass]="showMovies ? 'bi-chevron-up' : 'bi-chevron-down'"></i>
        </h4>
        @if (showMovies){
        @if (movieList.length === 0) {
        <p>{{getText('NO_MOVIES_IN_WATCHLIST')}}</p>
        }@else {
        @for (movie of movieList; track movie.id) {
        <div class="col-3 mb-5">
            <div class="card movie-card d-flex flex-row position-relative">
                <a class="text-decoration-none movie-link" [routerLink]="['/movie-detail', movie.id]">
                    @if(movie.poster_path) {
                    <img class="img-card" [src]="getImage(movie.poster_path)" alt="{{movie.title}}">
                    }@else {
                    <img class="img-card" src="http://placehold.co/194x291" alt="sin imagen">
                    }
                    <div class="card-body d-flex flex-column justify-content-center">
                        <h5 class="card-title text-center fs-5 mb-2"
                            [ngClass]="movie.title.length > 40 ? 'fs-5' : 'fs-4'">
                            {{movie.title}}</h5>
                        <p class="card-text text-center">{{movie.release_date | date:"mediumDate"}}</p>
                    </div>
                </a>
                <button class="btn btn-dark btn-sm delete-rating" (click)="openModal(delete, movie.id, 'movie')">
                    <i class="bi bi-x"></i>
                </button>
            </div>
        </div>
        }
        <ngb-pagination
            class="d-flex justify-content-center mt-4"
            [collectionSize]="totalPagesMovie * 10"
            [(page)]="pageMovie"
            (pageChange)="onPageMovies($event)"
            [boundaryLinks]="true">
        </ngb-pagination>
        }

        }

    </div>

    <div class="row">
        <h4 (click)="showSeries = !showSeries" class="mt-4">
            {{getText('SERIES')}}
            <i class="bi" [ngClass]="showSeries ? 'bi-chevron-up' : 'bi-chevron-down'"></i>
        </h4>
        @if (showSeries) {
        @if (serieList.length === 0) {
        <p>{{getText('NO_SERIES_IN_WATCHLIST')}}</p>
        }@else {
        @for (serie of serieList; track serie.id) {
        <div class="col-3 mb-5">
            <div class="card movie-card d-flex flex-row position-relative">
                <a class="text-decoration-none movie-link" [routerLink]="['/series-detail', serie.id]">
                    @if(serie.poster_path) {
                    <img class="img-card" [src]="getImage(serie.poster_path)" alt="{{serie.name}}">
                    }@else {
                    <img class="img-card" src="http://placehold.co/194x291" alt="sin imagen">
                    }
                    <div class="card-body d-flex flex-column justify-content-center">
                        <h5 class="card-title text-center fs-5 mb-2"
                            [ngClass]="serie.name.length > 40 ? 'fs-5' : 'fs-4'">
                            {{serie.name}}</h5>
                        <p class="card-text text-center">{{serie.first_air_date | date:"mediumDate"}}</p>
                    </div>
                </a>
                <button class="btn btn-dark btn-sm delete-rating" (click)="openModal(delete,serie.id, 'serie')">
                    <i class="bi bi-x"></i>
                </button>
            </div>
        </div>
        }
        <ngb-pagination class="d-flex justify-content-center"
            [collectionSize]="totalPagesSerie * 10"
            (pageChange)="onPageSeries($event)"
            [(page)]="pageSerie"
            [maxSize]="10"
            [boundaryLinks]="true">
        </ngb-pagination>
        }
        }
    </div>

    <ng-template #delete let-modal>
        <div class="modal-content">
            <div class="modal-header d-flex justify-content-between">
                <h4 class="modal-title">{{getText('DELETE')}}</h4>
                <button type="button" class="btn-close btn-close-white" aria-label="Close"
                    (click)="modal.dismiss('Cross click')"></button>
            </div>
            <div class="modal-body">
                <div class="modal-body">
                    {{getText('CONFIRM_DELETE_ITEM')}}
                    <div class="d-flex justify-content-end mt-3">
                        <button type="button" class="btn btn-danger" (click)="ConfirmDelete(modal)"
                            data-bs-dismiss="modal">{{getText('DELETE')}}</button>
                    </div>
                </div>
            </div>
        </div>
    </ng-template>

</div>