p, h3, h2 {
    color: white;
}

.card {
    background-color: #383838;
    border-radius: 20px;
}

img {
    border-radius: 20px;
}

.card-sprite {
    width: 150px;
    height: 225px;
}

.pegi-img {
    width: 5rem;
    height: 1.5rem;
}

.a{
    justify-items: center;
}

div.scrollCardReparto{
    background-color: #262626;
    overflow: auto;
    white-space: nowrap;
    overflow-x: scroll;
  }
  
div.scrollCardReparto .scrollCard {
  display: inline-block;
  color: white;
  text-align: center;
  width: 10%;
  padding: 14px;
  border-radius: 20px;
  background-color: #383838;
  justify-items: center;
}

.tamayoImagen{
    width: 150px;
}

.reparto{
    margin-left: 50px;
}

.leftItem {
    float: left;
}