.leftItem {
    float: left;
}

p,
h1,
h2,
h3,
h4 {
    color: white;
}

* {
    font-family: sans-serif;
}

.tamayoInfo {
    background-color: #383838 !important;
    width: 95% !important;
    margin-top: 20px !important;
    border-radius: 20px !important;
}

img {
    border-radius: 20px !important;
}

.title{
    margin: 0; 
}

.colorFilm {
    color: #101010;
}

.divMargin {
    margin-left: 50px;
    margin-right: 50px;
}

.scrollCardPeli {
    background-color: #191919;
    overflow-x: auto;
    white-space: nowrap;
    padding-bottom: 10px;
    border-radius: 20px;
}

.scrollCard {
    display: inline-block;
    color: white;
    width: 180px;
    height: 350px;
    padding: 14px;
    border-radius: 20px;
    background-color: #383838;
    vertical-align: top;
}

.scrollCard .tamayoImagen {
    width: 150px;
    height: 230px;
    object-fit: cover;
}

.scrollCard p {
    white-space: normal;
    word-wrap: break-word;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    font-size: 14px;
    line-height: 1.5em;
    text-align: center;
}


::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #383838;
    border-radius: 20px;
}

::-webkit-scrollbar-thumb {
    background: #f1f1f1;
    border-radius: 20px;
}

::-webkit-scrollbar-thumb:hover {
    background: #c5c5c5;
}

.scrollCardMedia {
    background-color: #191919;
    overflow-x: auto;
    white-space: nowrap;
    margin-right: 50px;
    padding-bottom: 10px;
    border-radius: 20px;
}

.scrollCardMediaBack {
    display: inline-block;
    color: white;
    padding: 14px;
    border-radius: 20px;
    background-color: #383838;
    vertical-align: top;
}

.scrollCardMediaBack .tamayoImagen {
    object-fit: cover;
    margin-bottom: 10px;
}

.scrollCardMediaBack p {
    white-space: normal;
    word-wrap: break-word;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    font-size: 14px;
    text-align: center;
}

.conocidoPor{
    margin-left: 20px;
}

.star {
    position: relative;
    display: inline-block;
    color: #d3d3d3;
    font-size: 2rem;
  }

.full {
    color: #ffc107;
  }

.half {
    position: absolute;
    display: inline-block;
    overflow: hidden;
    color: #ffc107;
}

.btn-dark {
  background-color: #212529; 
  border-radius: 10px;
}

.modal-content{
    background-color: #191919;
    color: white;
    border: none;

}

