p, h3, h2 {
    color: white;
}

.card {
    background-color: #383838;
    border-radius: 20px;
}

img {
    border-radius: 20px;
}

.card-sprite {
    width: 150px;
    height: 225px;
}

.pegi-img {
    width: 5rem;
    height: 1.5rem;
}

.a{
    justify-items: center;
}

/* Scroll horizontal img */
div.scrollCardPeli{
    background-color: #262626;
    overflow: auto;
    white-space: nowrap;
    height: 340px;
    
  }
  
div.scrollCardPeli .scrollCard {
  display: inline-block;
  color: white;
  text-align: center;
  width: 10%;
  height: 300px;
  padding: 14px;
  border-radius: 20px;
  background-color: #383838;
  justify-items: center;
}

.tamayoImagen{
    width: 150px;
}

.conocidoPor{
    margin-left: 50px;
}