<main>
    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="col-12 d-flex justify-content-center">
                <div class="card tamayoInfo">
                    <div class="card-body d-flex">
                        <div class="col-2">
                            @if(oneMovie?.poster_path){
                            <img [src]="getImagen(oneMovie!.poster_path)" alt="{{oneMovie?.title}}" class="img-fluid">
                            }@else {
                            <img src="http://placehold.co/250x450" alt="sin imagen">
                            }
                        </div>
                        <div class="col-9 ms-5 mt-1">
                            <div>
                                <h1>{{oneMovie?.title}}</h1>
                                <img class="pegi-img mt-1" src="./assets/TP.png" alt="PEGI logo">
                                <p *ngFor="let genres of oneMovie!.genres" class="">{{genres.name}}</p>
                                <P> · 1h 42m</P>
                            </div>

                            <div>
                                <h3>Vista General</h3>
                                <p><i>{{oneMovie!.tagline}}</i><br>
                                    {{oneMovie!.overview}}</p>
                            </div>
                            <div class="row mt-5">
                                <p class="col-3">Título Original<br>
                                    {{oneMovie!.original_title}}
                                </p>
                                <p class="col-3">Idioma Original<br>
                                    {{oneMovie!.original_language}}
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="mt-5 divMargin">
            <h4>Plataformas</h4>
        </div>

        <div class="mt-5 divMargin">
            <h4>Reparto</h4>
            <div class="scrollCardPeli">
                @for (item of cast; track item.id) {
                <a class="text-decoration-none" [routerLink]="['/actor-detail', item.id]">
                    <div class="card scrollCard me-3 mb-2">
                        <div>
                            @if(item.profile_path){
                            <img [src]="getImagen(item.profile_path!)" class="tamayoImagen" alt="{{item.name}}">
                            }@else {
                            <img src="http://placehold.co/150x230" alt="sin imagen">
                            }
                        </div>
                        <div class="mt-3">
                            {{item.name}}
                        </div>
                    </div>
                </a>
                }
            </div>
        </div>
        <div class="mt-5 divMargin">
            <h4>Media</h4>

        </div>
    </div>
</main>