<main class="container-fluid mt-3 px-5">
    <div class="align-center">
        <div class="row">
            <h1>Favoritos</h1>
            <p>0 elementos en la lista</p>
            <p>|</p>
            <p>0% valoración media </p>
            <p>|</p>
            <p>0h 0min duración total</p>
        </div>
    </div>

    <div>
        @for (movie of movieList; track movie.id) {
            <div class="col-3 mb-5">
                <a class="text-decoration-none" [routerLink]="['/movie-detail', movie.id]">
                    <div class="card movie-card d-flex flex-row">
                        @if(movie.poster_path) {
                        <img class="img-card" [src]="getImage(movie.poster_path)" alt="{{movie.title}}">
                        }@else {
                        <img class="img-card" src="http://placehold.co/194x291" alt="sin imagen">
                        }
                        <div class="card-body d-flex flex-column justify-content-center">
                            <h5 class="card-title text-center fs-5 mb-2"
                                [ngClass]="movie.title.length > 40 ? 'fs-5' : 'fs-4'">
                                {{movie.title}}</h5>
                            <p class="card-text text-center">{{movie.release_date | date:"mediumDate"}}</p>
                        </div>
                    </div>
                </a>
            </div>
        }
    </div>
</main>