<div class="container-fluid mt-3 px-5">
    <div class="d-flex justify-content-between">
        <h1 class="title mb-4 text-white">Actores</h1>

        <div class="filtro-buscar mt-4 d-f d-flex" data-mdb-input-init>
            <mat-form-field class="w-100 me-3">
                <input matInput 
                       [matAutocomplete]="auto" 
                       id="buscarActor" 
                       placeholder="Buscar por nombre" 
                       [(ngModel)]="terminoBusqueda" 
                       (input)="buscarNombre()">
                <mat-autocomplete #auto="matAutocomplete" (optionSelected)="seleccionarNombre($event.option.value)">
                  <mat-option *ngFor="let actor of nombreFiltrado" [value]="actor">
                    {{ actor.name }}
                  </mat-option>
                </mat-autocomplete>
              </mat-form-field>
              <button class="boton-reset mb-3 text-white mt-2" mat-stroked-button (click)="resetBuscarNombre()">Reiniciar</button>
              
        </div>
    </div>

    <div class="row">
        @for (actor of listaActoresFiltrada; track actor.id) {
        <div class="col-2 mb-5">
            <a class="text-decoration-none" [routerLink]="['/actor-detail', actor.id]">
                <div class="card actor-card">
                    @if (actor.profile_path){
                    <img class="img-actor px-3 pt-3" [src]="getImage(actor.profile_path)" [alt]="actor.name">
                    }@else{
                        <img src="http://placehold.co/278x323.69" alt="sin imagen">
                    }
                    <div class="card-body">
                        <h3 class="actor-title text-white">{{actor.name}}</h3>
                        <p class="card-text">
                            {{ actor.known_for[0].title ? actor.known_for[0].title : actor.known_for[0].name }},
                            {{ actor.known_for[1].title ? actor.known_for[1].title : actor.known_for[1].name }},
                            {{ actor.known_for[2].title ? actor.known_for[2].title : actor.known_for[2].name }}
                        </p>
                    </div>
                </div>
            </a>
        </div>
        }
    </div>
</div>