<div class="container-fluid mt-3 px-5">
    <div class="d-flex justify-content-between">
        <h1 class="title mb-4 text-white">Actores</h1>
        <div class="filtro-buscar form-outline mt-4 " data-mdb-input-init>
            <input type="search" id="form1" class="form-control" placeholder="Buscar" aria-label="Search">
        </div>
    </div>

    <div class="row">
        @for (actor of actorList; track actor.id) {
            <div class="col-3 mb-5">
                <div class="card actor-card" style="width: 400px; height: 530px;">
                    <img class="img-actor" [src]="actor.known_for[actor.id].poster_path" alt="Sydney Sweeney">
                    <div class="card-body">
                        <h2 class="actor-title">{{actor.name}}</h2>
                        <p class="card-text">La bella y la bestia, Harry Potter y las Reliquias de la Muerte - Parte 2 y
                            Harry
                            Potter y las Reliquias de la Muerte - Parte 1</p>
                        <p>{{actor.known_for_department}}</p>
                    </div>
                </div>
            </div>
        }
    </div>
</div>