<div class="container-fluid mt-5 px-5">
    <div class="row">
        <div class="col">
            <div class="d-flex justify-content-between">
                <h1 class="title mb-4">Actores</h1>
                <div class="search">
                    <input type="text" class="searchTerm ms-2" placeholder="Buscar...">
                    <button type="submit" class="searchButton">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                            class="bi bi-search text-dark" viewBox="0 0 16 16">
                            <path
                                d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001q.044.06.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1 1 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0" />
                        </svg>
                    </button>
                </div>
            </div>

        </div>
    </div>

    <div class="row">
        @for (actor of listaActoresFiltrada; track actor.id) {
        <div class="col-2 mb-5">
            <a class="text-decoration-none" [routerLink]="['/actor-detail', actor.id]">
                <div class="card actor-card">
                    @if (actor.profile_path){
                    <div>
                        <img class="img-actor" [src]="getImage(actor.profile_path)" [alt]="actor.name">

                    </div>
                    }@else{
                    <div>
                        <img class="img-actor" src="http://placehold.co/278x323" alt="sin imagen">
                    </div>
                    }
                    <div class="card-body">
                        <h6 class="actor-title text-white">{{actor.name}}</h6>
                        <p class="text-light">
                            {{ actor.known_for[0].title ? actor.known_for[0].title : actor.known_for[0].name }},
                            {{ actor.known_for[1].title ? actor.known_for[1].title : actor.known_for[1].name }},
                            {{ actor.known_for[2].title ? actor.known_for[2].title : actor.known_for[2].name }}
                        </p>
                    </div>
                </div>
            </a>
        </div>
        }
    </div>
    <ngb-pagination class="d-flex justify-content-center"
        [collectionSize]="totalPages"
        (pageChange)="onPage($event)"
        [(page)]="page"
        [maxSize]="10"
        [boundaryLinks]="true">
    </ngb-pagination>
</div>