.actor-card {
    background-color: #303030;
    border-radius: 20px;
    width: 280px;
    height: 500px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);

}

div .img-actor {
    width: 250px;
    height: 320px;
    object-fit: cover;
    border-radius: 20px;
    margin: 15px;
}

.card-text {
    font-size: 11pt;
    color: white;
}

.input-buscar {
    background-color: #303030;
}

ngb-pagination > ul.pagination{
    background-color: #303030;
}