* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}


body {
    background-color: #181818;
    color: white;
}


.filter-section {
    background-color: #303030;
    padding: 20px;
    border-radius: 20px;
}

.movie-card {
    background-color: #303030;
    border-radius: 20px;
    overflow: visible;
    height: 450px;
}

.movie-card img {
    width: 85%;
    margin: 15px;
    align-items: center;
    border-radius: 20px;   
}

.movie-title {
    color: white;
    font-weight: bold;
}

.card-text {
    color: rgba(255, 255, 255, 0.800);
}

.rating {
    position: absolute;
    top: 97%;
    right: -20px;
    transform: translateY(-50%);
    background-color: #181818;
    color: #ffffff;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    border: 1px solid #303030 ;
    font-size: medium;
}

input[type="checkbox"]:checked {
    background-color: red;
    border: none;
    box-shadow: 0 0 0 1px red;
}



.mat-accent .mat-slider-track-fill {
    background-color: red !important;
}

.mat-slider-thumb-label {
    background-color: red !important;

}

.mat-slider-thumb {
    background-color: red !important;
}

.btn-options {
    position: absolute;
    top: 5px;
    right: 5px;
    background-color: #1818189f;
    color: #ffffff;
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    border: 2px solid #303030 ;
}

.btnLogin{
    color: white;
    background-color: #383838;
    border-radius: 20px;
    margin-top: 15px;
}

.diseyoBtn{
    background-color: #383838;  
    border-radius: 20px;
    color: white;
    border: none;
}


.btn{
    color: white;
    border: none;
}

.dropdown-menu{
    background-color: #383838;
    border-radius: 20px;
    color: white;
}

.diseyoOpciones:hover{
    background-color: #191919;
    border-radius: 20px;
    width: 95%;   
}


.dropdown-toggle::after {
    display:none;
}

.dropdown-submenu {
    position: relative;
}

.dropdown-submenu .dropdown-menu {
    position: absolute;
    top: 0;
    left: 100%;
    margin-top: 0;
}
.search {
    width: 20%;
    position: relative;
    display: flex;
    background-color: white;
    border-radius: 20px;
    margin-top: 20px;
    height: 36px;
}

.searchTerm {
    width: 100%;
    border-right: none;
    padding: 5px;
    border-radius: 20px;
    outline: none;
    border: none;
}

.searchButton {
    width: 40px;
    text-align: center;
    border-radius: 20px;
    cursor: pointer;
    padding-bottom: 5px;
    font-size: 20px;
    background-color: white;
    border: none;
}


.colorGen {
    color: white;
    font-size: 12pt;
}


mat-slider {
    width: 90%;
}
