
<div class="container-fluid mt-5 px-5">
    <div class="row">
        <div class="col">
            <div class="d-flex justify-content-between">
                <h1 class="title mb-4">Series</h1>
                <div class="search">
                    <input type="text" class="searchTerm ms-2" placeholder="Buscar..." [(ngModel)]="texto"
                        (input)="searchingSerie(texto)">
                    <button type="submit" class="searchButton">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                            class="bi bi-search text-dark" viewBox="0 0 16 16">
                            <path
                                d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001q.044.06.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1 1 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0" />
                        </svg>
                    </button>
                </div>
            </div>

        </div>
    </div>

    <div class="row">
        <div class="col-2">
            <div class="filter-section">
                <h6>Filtros</h6>
                <hr class="hr" />
                <div class="mb-3">
                    <h6>Géneros</h6>
                    @for(genre of serieGenre; track genre.id) {
                    <div class="d-colum">
                        <mat-checkbox
                            [checked]="selectedGenres.includes(genre.id)"
                            (change)="onGenreChange(genre.id, $event.checked)">
                            <span class="colorGen">{{ genre.name }}</span>
                        </mat-checkbox>
                    </div>
                    }
                </div>
                <div class="mb-3">
                    <h6>Puntuación</h6>
                    <mat-slider min="0" max="10" step="0.1">
                        <input value="{{minRating}}" [(ngModel)]="minRating" matSliderStartThumb
                            (input)="applyFilters()" class="mb-1">{{minRating * 10}}%
                        <input value="{{maxRating}}" [(ngModel)]="maxRating" matSliderEndThumb
                            (input)="applyFilters()"> <span class="position-absolute top-0 end-0">{{maxRating * 10}}%</span>
                    </mat-slider>
                </div>
                <div class="mb-3">
                    <h6 class="mt-4">Fecha de estreno</h6>
                    <label for="desde" class="form-label ">Desde</label>
                    <input
                        type="date"
                        class="form-control"
                        id="desde"
                        [(ngModel)]="firstAirDateFrom">

                    <label for="hasta" class="form-label mt-2">Hasta</label>
                    <input
                        type="date"
                        class="form-control"
                        id="hasta"
                        [(ngModel)]="firstAirDateTo">
                </div>
                <button class="btn btn-dark w-100" (click)="applyFilters()">Aplicar</button>
            </div>
        </div>

        <div class="col-10">
            <div class="row">
                @for(serie of originalSerieList; track serie.id) {
                <div class="col-2 mb-4 d-flex">
                        <div class="card movie-card">
                            <div ngbDropdown class="d-inline-block diseyoBtn">
                                <button type="button" class="btn btn-options" id="dropdownBasic1" ngbDropdownToggle>
                                    <p>...</p>
                                </button>
                                <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                                    <div ngbDropdown class="dropdown-submenu dropdown-toggle-split">
                                        <button type="button" ngbDropdownToggle
                                            class="btn dropdown-toggle diseyoOpciones text-light ms-1" (click)="openModal()">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                                class="bi bi-list-ul me-1" viewBox="0 0 16 16">
                                                <path fill-rule="evenodd"
                                                    d="M5 11.5a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9a.5.5 0 0 1-.5-.5m0-4a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9a.5.5 0 0 1-.5-.5m0-4a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9a.5.5 0 0 1-.5-.5m-3 1a1 1 0 1 0 0-2 1 1 0 0 0 0 2m0 4a1 1 0 1 0 0-2 1 1 0 0 0 0 2m0 4a1 1 0 1 0 0-2 1 1 0 0 0 0 2" />
                                            </svg>
                                            Añadir a lista
                                        </button>
                                    </div>
                                    <button ngbDropdownItem class="diseyoOpciones text-light ms-1">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                            class="bi bi-heart me-1" viewBox="0 0 16 16">
                                            <path
                                                d="m8 2.748-.717-.737C5.6.281 2.514.878 1.4 3.053c-.523 1.023-.641 2.5.314 4.385.92 1.815 2.834 3.989 6.286 6.357 3.452-2.368 5.365-4.542 6.286-6.357.955-1.886.838-3.362.314-4.385C13.486.878 10.4.28 8.717 2.01zM8 15C-7.333 4.868 3.279-3.04 7.824 1.143q.09.083.176.171a3 3 0 0 1 .176-.17C12.72-3.042 23.333 4.867 8 15" />
                                        </svg>
                                        Favoritos
                                    </button>
                                    <button ngbDropdownItem class="diseyoOpciones text-light ms-1">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                            class="bi bi-bookmark me-1" viewBox="0 0 16 16">
                                            <path
                                                d="M2 2a2 2 0 0 1 2-2h8a2 2 0 0 1 2 2v13.5a.5.5 0 0 1-.777.416L8 13.101l-5.223 2.815A.5.5 0 0 1 2 15.5zm2-1a1 1 0 0 0-1 1v12.566l4.723-2.482a.5.5 0 0 1 .554 0L13 14.566V2a1 1 0 0 0-1-1z" />
                                        </svg>
                                        Seguir
                                    </button>
                                </div>
                            </div>
                            <a class="text-decoration-none" [routerLink]="['/series-detail', serie.id]">
                                @if(serie.poster_path) {
                                    <img [src]="getImage(serie.poster_path)" alt="{{serie.name}}">
                                }@else {
                                    <img src="http://placehold.co/194x291" alt="sin imagen">
                                }
                                <div class="card-body pt-0">
                                    <p class="movie-title">{{serie.name}}</p>
                                    <p class="card-text">{{serie.first_air_date | date:"mediumDate"}}</p>
                                </div>
                                <div class="rating">{{getRatingPercentaje(serie.vote_average) | number:'1.0-0'}}%</div>
                            </a>
                        </div>
                </div>
                }
            </div>
        </div>

        <ngb-pagination class="d-flex justify-content-center"
            [collectionSize]="totalPages"
            (pageChange)="onPage($event)"
            [(page)]="page"
            [maxSize]="10"
            [boundaryLinks]="true">
        </ngb-pagination>
    </div>
</div>
