<div class="container-fluid mt-3 px-5">
    <div class="row">
        <div class="d-flex position-relative">
            <h2 class="textoList">Listas</h2>
            <i class="bi bi-plus-circle position-absolute"></i>
        </div>
        <div class="position mt-3">
            @for(list of lists; track list.id) {
            <div class="col-2 mb-4 d-flex taamyoCard">
                <div class="card list-card">
                    <div class="card-body">
                        <h3 class="movie-title text-center text-light">{{list.name}}</h3>
                        @if(list.description){
                        <p class="text-light">{{list.description}}</p>
                        }@else{
                        <p class="text-light">No tiene descripción.</p>
                        }

                    </div>
                </div>
            </div>
            }
        </div>
    </div>
</div>
