.list-card {
    width: 580px;
    height: 240px;
    margin-left: 40px;
    background-color: #383838;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 60px;
    margin: 20px;

}

.taamyoCard {
    width: 580px;
    height: 240px;
}

.bi-plus-circle {
    right: 0;
    margin-right: 28px;
    font-size: 25pt;
    margin-top: 25px;
}

.movie-title {
    font-size: 1.5rem;
    margin-bottom: 10px;
    color: #ffffff;
}

.clase {
    gap: 10px;
}