.list-card {
    width: 580px;
    height: 240px;
    margin-left: 40px;
    background-color: #383838;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 60px;
    margin: 20px;

}

.taamyoCard {
    width: 580px;
    height: 240px;
}


.movie-title {
    font-size: 1.5rem;
    margin-bottom: 10px;
    color: #ffffff;
}

.clase {
    gap: 10px;
}

.btn-addlist {
    width: 50px; 
    height: 50px;
    padding: 0; 
    background-color: #191919;
    border: none;
}

.modal-content{
    background-color: #191919;
    color: white;
    border: none;

}

ngb-pagination ::ng-deep a {
    background-color: #303030 !important;
    border-color: rgb(14, 14, 14) !important;
    color: white !important;

}

ngb-pagination ::ng-deep .page-item.active .page-link {
    border-color: black;
    background-color: lightgrey;
}
  
ngb-pagination ::ng-deep .page-item.active .page-link:focus, .page-link:not(:disabled):not(.disabled):active:focus {
    box-shadow: 0 0 0 0.1rem dimgrey;
}
  
ngb-pagination ::ng-deep .page-link:not(:disabled):not(.disabled):active:focus {
    box-shadow: 0 0 0 0.1rem dimgrey;
}
  
