<main class="container-fluid mt-3 px-5">
    <div class="align-center">
        <div class="row">
            <h1>Favoritos</h1>
            <p>{{ movieList.length + serieList.length }} elementos en la lista</p>
            <p>|</p>
            <p>{{ getAverageRating() | number:'1.0-1' }}% valoración media </p>
            <p>|</p>
            <p>{{ getTotalDuration() }}min duración total</p>
        </div>
    </div>

    <h2>Películas</h2>

    <div class="col-10">
        <div class="row">
            @if (movieList.length >= 1) {
            @for(movie of movieListFilt; track movie.id) {
            <div class="col-2 mb-4 d-flex">
                <a class="text-decoration-none" [routerLink]="['/movie-detail', movie.id]">
                    <div class="card movie-card">
                        @if(movie.poster_path) {
                        <img [src]="getImage(movie.poster_path)" alt="{{movie.title}}">
                        }@else {
                        <img src="http://placehold.co/194x291" alt="sin imagen">
                        }
                        <div class="card-body pt-0">
                            <p class="movie-title">{{movie.title}}</p>
                            <p class="card-text">{{movie.release_date | date:"mediumDate"}}</p>
                        </div>
                        <div class="rating">{{getRatingPercentaje(movie.vote_average) | number:'1.0-0'}}%</div>
                </a>
            </div>
            </a>
        </div>
        }
        } @else {
        <p>No hay películas favoritas.</p>
        }
    </div>

    <h2>Series</h2>
    <div class="row">
        @if (serieList.length >= 1) {
            @for(serie of serieList; track serie.id) {
            <div class="col-2 mb-4 d-flex">
                <a class="text-decoration-none" [routerLink]="['/serie-detail', serie.id]">
                    <div class="card movie-card">
                        @if(serie.poster_path) {
                        <img [src]="getImage(serie.poster_path)" alt="{{serie.name}}">
                        }@else {
                        <img src="http://placehold.co/194x291" alt="sin imagen">
                        }
                        <div class="card-body pt-0">
                            <p class="movie-title">{{serie.name}}</p>
                            <p class="card-text">{{serie.first_air_date | date:"mediumDate"}}</p>
                        </div>
                        <div class="rating">{{getRatingPercentaje(movie.vote_average) | number:'1.0-0'}}%</div>
                </a>
            </div>
            </a>
        </div>
        }
    } @else {
    <p>No hay series favoritas.</p>
    }
</main>