<main class="container-fluid mt-3 px-5">
    <div class="top-card p-3">
        <h2 class="text-center p-3">Favoritos</h2>
        <div class="row justify-content-center text-center">
            <p class="col-2">{{ movieList.length + serieList.length }} elementos en la lista</p>
            <p class="col-1">|</p>
            <p class="col-2">{{getRatingPercentaje(averageRating) | number:'1.0-0'}}% de valoración media </p>
            <p class="col-1">|</p>
            <p class="col-2">0 min duración total</p>  <!-- {{ getTotalDuration() }} -->
        </div>
    </div>

    <h3>Películas</h3>

    <div class="col-10">
        <div class="row">
            @if (movieList.length >= 1) {
            @for(movie of movieList; track movie.id) {
            <div class="col-2 mb-4 d-flex">
                <a class="text-decoration-none" [routerLink]="['/movie-detail', movie.id]">
                    <div class="card movie-card">
                        @if(movie.poster_path) {
                        <img [src]="getImage(movie.poster_path)" alt="{{movie.title}}">
                        }@else {
                        <img src="http://placehold.co/194x291" alt="sin imagen">
                        }
                        <div class="card-body pt-0">
                            <p class="movie-title">{{movie.title}}</p>
                            <p class="card-text">{{movie.release_date | date:"mediumDate"}}</p>
                        </div>
                        <div class="rating">{{getRatingPercentaje(movie.vote_average) | number:'1.0-0'}}%</div>
                    </div>
                </a>
                <button class="btn btn-dark btn-sm delete-rating" (click)="deleteFavourite(movie.id, 'movie')">
                    <i class="bi bi-x"></i>
                </button>
            </div>
        }
        } @else {
        <p>No hay películas favoritas.</p>
        }
    </div>

    <h3>Series</h3>
    <div class="row">
        @if (serieList.length >= 1) {
            @for(serie of serieList; track serie.id) {
            <div class="col-2 mb-4 d-flex">
                <a class="text-decoration-none" [routerLink]="['/serie-detail', serie.id]">
                    <div class="card movie-card">
                        @if(serie.poster_path) {
                        <img [src]="getImage(serie.poster_path)" alt="{{serie.name}}">
                        }@else {
                        <img src="http://placehold.co/194x291" alt="sin imagen">
                        }
                        <div class="card-body pt-0">
                            <p class="movie-title">{{serie.name}}</p>
                            <p class="card-text">{{serie.first_air_date | date:"mediumDate"}}</p>
                        </div>
                        <div class="rating">{{getRatingPercentaje(serie.vote_average) | number:'1.0-0'}}%</div>
                    </div>
                </a>
            <button class="btn btn-dark btn-sm delete-rating" (click)="deleteFavourite(serie.id, 'serie')">
                <i class="bi bi-x"></i>
            </button>
            </div>
        }
    } @else {
    <p>No hay series favoritas.</p>
    }


    <div class="container-fluid mt-3 px-5">
        <h1 class="title mb-4 text-white">Valoraciones</h1>
    
        <div class="row">
            <h4 (click)="showMovies = !showMovies">
                Peliculas
                <i class="bi" [ngClass]="showMovies ? 'bi-chevron-up' : 'bi-chevron-down'"></i>
            </h4>
            @if (showMovies){
            @for (movie of movieList; track movie.id) {
            <div class="col-3 mb-5">
                <div class="card movie-card d-flex flex-row position-relative">
                    <a class="text-decoration-none movie-link" [routerLink]="['/movie-detail', movie.id]">
                        @if(movie.poster_path) {
                        <img class="img-card" [src]="getImage(movie.poster_path)" alt="{{movie.title}}">
                        }@else {
                        <img class="img-card" src="http://placehold.co/194x291" alt="sin imagen">
                        }
                        <div class="card-body d-flex flex-column justify-content-center">
                            <h5 class="card-title text-center fs-5 mb-2"
                                [ngClass]="movie.title.length > 40 ? 'fs-5' : 'fs-4'">
                                {{movie.title}}</h5>
                            <p class="card-text text-center">{{movie.release_date | date:"mediumDate"}}</p>
                            <ngb-rating class="rating-star" [rate]="movie.rating/2.0" [readonly]="true" [max]="5"
                                [starTemplate]="t" />
                        </div>
                        <div class="rating">{{getRatingPercentaje(movie.vote_average) | number:'1.0-0'}}%</div>
                    </a>
                    <button class="btn btn-dark btn-sm delete-rating" (click)="eliminarValoracion(movie.id, 'movie')">
                        <i class="bi bi-x"></i>
                    </button>
                </div>
            </div>
            }
            }
    
        </div>
        <div class="row">
            <h4 (click)="showSeries = !showSeries">
                Series
                <i class="bi" [ngClass]="showSeries ? 'bi-chevron-up' : 'bi-chevron-down'"></i>
            </h4>
            @if (showSeries) {
            @for (serie of serieList; track serie.id) {
            <div class="col-3 mb-5">
                <div class="card movie-card d-flex flex-row position-relative">
                    <a class="text-decoration-none movie-link" [routerLink]="['/series-detail', serie.id]">
                        @if(serie.poster_path) {
                        <img class="img-card" [src]="getImage(serie.poster_path)" alt="{{serie.name}}">
                        }@else {
                        <img class="img-card" src="http://placehold.co/194x291" alt="sin imagen">
                        }
                        <div class="card-body d-flex flex-column justify-content-center">
                            <h5 class="card-title text-center fs-5 mb-2" [ngClass]="serie.name.length > 40 ? 'fs-5' : 'fs-4'">
                                {{serie.name}}</h5>
                            <p class="card-text text-center">{{serie.first_air_date | date:"mediumDate"}}</p>
                            <ngb-rating class="rating-star" [rate]="serie.rating/2.0" [readonly]="true" [max]="5"
                                [starTemplate]="t" />
                        </div>
                        <div class="rating">{{getRatingPercentaje(serie.vote_average) | number:'1.0-0'}}%</div>
                    </a>
                    <button class="btn btn-dark btn-sm delete-rating" (click)="eliminarValoracion(serie.id, 'serie')">
                        <i class="bi bi-x"></i>
                    </button>
                </div>
            </div>
            }
            }
        </div>
    </div>
    
    <ng-template #t let-fill="fill">
        <span class="star" [class.full]="fill === 100">
            <span class="half" [style.width.%]="fill">★</span>★
        </span>
    </ng-template>