<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>actor </title>    
    </head>
    <body>
        <main>
            <div class="container-fluid">
                <div class="row justify-content-center">
                    <div class="col-12 d-flex justify-content-center">
                        <div class="card tamayoInfo">
                            <div class="card-body d-flex">
                                <div class="col-2">
                                    <img src="../img/pedro-pascal.webp"
                                        alt="Pedro Pascal" class="img-fluid">
                                </div>
                                <div class="col-9 ms-5 mt-1">
                                    <div>
                                        <h1 class="text-light">{{}}</h1>
                                    </div>

                                    <div>
                                        <h2 class="text-light">Biografía</h2>
                                    </div>

                                    <div>
                                        <p class="text-light">fjkjkfhdskjh</p>
                                    </div>

                                    <div class="d-flex justify-content-around mt-5">
                                        <div class="d-flex text-light">
                                            <div class="mt-2">
                                                <i
                                                    class="bi bi-film tamayoIcono colorFilm"></i>
                                            </div>
                                            <div class="ms-3 mt-3">
                                                <p> Acreditación - 63</p>
                                            </div>
                                        </div>
                                        <div class="d-flex text-light">
                                            <div class="mt-2">
                                                <i
                                                    class="bi bi-cake2-fill tamayoIcono"></i>
                                            </div>
                                            <div class="ms-3">
                                                <p> Cumpleaños</p>
                                                <p>2 de abril de 1975</p>
                                            </div>
                                        </div>

                                        <div class="d-flex">
                                            <div class="mt-2">
                                                <i
                                                    class="bi bi-geo-alt-fill text-danger tamayoIcono"></i>
                                            </div>
                                            <div class="ms-3 text-light">
                                                <p>Lugar de nacimiento</p>
                                                <p>Santiago, Chile</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="mt-5 conocidoPor">
                    <h2 class="text-light">Conocido por</h2>
                    <div class="scrollCardPeli">
                        <div class="card scrollCard me-3">
                            <div class="tamayoImagen">
                                <img src="../img/a.webp" class="card-img-top " alt="a">
                            </div>
                            <div class="card-body">
                            <h5 class="card-title">Card title</h5>           
                            </div>
                        </div>
                    </div>  
                </div>
                  


                <section class="timeline_area section_padding_130 text-light mt-5 ms-4">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-12">
                                <div class="section_heading">
                                    <h2>Interpretación</h2>
                                    <div class="line"></div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12">
                                <div class="apland-timeline-area mt-3">
                                    <div class="single-timeline-area">
                                        <div class="timeline-date wow fadeInLeft">
                                            <p class="text-light">2022</p>
                                        </div>
                                        <div class="row">
                                            <div class="col-11">
                                                <div class="row">
                                                    <div class="col-2">
                                                        <div class="single-timeline-content d-flex wow fadeInLeft text-center">
                                                            <div class="timeline-text ">
                                                                <h6>The Making of Gladiator II</h6>
                                                                <p>Como Self</p>
                                                            </div>
                                                        </div>
                                                    </div>  
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                </section>

                <section class="timeline_area section_padding_130 text-light mt-5 ms-4">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-12">
                                <div class="section_heading">
                                    <h2>Producción</h2>
                                    <div class="line"></div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12">
                                <div class="apland-timeline-area mt-3 mb-3">
                                    <div class="single-timeline-area">
                                        <div class="timeline-date wow fadeInLeft">
                                            <p class="text-light">2019</p>
                                        </div>
                                        <div class="row">
                                            <div class="col-11">
                                                <div class="row">
                                                    <div class="col-2">
                                                        <div class="single-timeline-content d-flex wow fadeInLeft text-center">
                                                            <div class="timeline-text ">
                                                                <h6>adsdas</h6>
                                                                <p>Como Self</p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>     
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </main>

    </body>
</html>