
<nav class="d-flex justify-content-center container-fluid">
    <div class="ms-3 mt-2 position-absolute top-0 start-0">
        <img src="/assets/logo.png" width="200px" alt="imuvi logo" routerLink="/home">
    </div>

    <div class="d-flex">
        <div class="me-5 ms-5 justify-content-between seleccionado opciones" routerLink="/movie-list">
            <h4>Películas</h4>
        </div>

        <div class="ms-5 me-5 justify-content-between seleccionado opciones" routerLink="/series-list">
            <h4>Series</h4>
        </div>

        <div class="ms-5 me-5 justify-content-between seleccionado opciones" routerLink="/actor-list">
            <h4>Actores</h4>
        </div>
    </div>

    <div class="d-flex position-absolute top-0 end-0 me-4 text-light mt-2">
        @if(isLoggedIn()) {
        <div ngbDropdown class="d-inline-block diseyoBtn">
            <button type="button" class="btn " id="dropdownBasic1" ngbDropdownToggle>
                <img [src]="userPhoto" alt="Avatar" class="avatar me-3" />
            </button>
            <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                <button ngbDropdownItem class="diseyoOpciones text-light ms-1" routerLink="/rating">Valoraciones</button>
                <button ngbDropdownItem class="diseyoOpciones text-light ms-1" routerLink="/list">Listas</button>
                <button ngbDropdownItem class="diseyoOpciones text-light ms-1" routerLink="/listSeguimiento">Lista de
                    seguimiento</button>
                <hr>
                <button ngbDropdownItem (click)="logout()" class="diseyoOpciones text-light ms-1">Cerrar sesión</button>
            </div>
        </div>
        }@else {
        <button class="btn btn-sm btnLogin text-light" (click)="createRequestToken()">
            Iniciar sesión
        </button>
        }
    </div>
</nav>
