
    <nav class="d-flex justify-content-center container-fluid">
        <div class="ms-3 mt-2 position-absolute top-0 start-0">
            <img src="/assets/logo.png" width="200px" alt="imuvi logo">
        </div>

        <div class="d-flex">
            <div class="me-5 ms-5 justify-content-between seleccionado" routerLink="/movie-list">
                <h2>Películas</h2>
            </div>

            <div class="ms-5 me-5 justify-content-between seleccionado" routerLink="/series-list">
                <h2>Series</h2>
            </div>

            <div class="ms-5 me-5 justify-content-between seleccionado" routerLink="/actor-list">
                <h2>Actores</h2>
            </div>
        </div>

        <div class="d-flex position-absolute top-0 end-0 me-4">
            <i class="bi bi-person-circle me-3"></i>
            <i class="bi bi-power"></i>
        </div>
    </nav>
