<div class="container-fluid mt-5 px-5">
    <div class="row">
        <div class="col">
            <div class="d-flex justify-content-between">
                <h1 class="title mb-4">Películas</h1>
                <div class="form-outline " data-mdb-input-init>
                    <input type="search" id="form1" class="form-control me-5" placeholder="Buscar" aria-label="Search" />
                </div>
            </div>

        </div>
    </div>
    
    <div class="row">
        <div class="col-2">
            <div class="filter-section">
                <h6>Filtros</h6>
                <hr class="hr" />
                <div class="mb-3">
                    <h6>Géneros</h6>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" id="accion">
                        <label class="form-check-label" for="accion">Acción</label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" id="animacion">
                        <label class="form-check-label" for="animacion">Animación</label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" id="animacion">
                        <label class="form-check-label" for="...">...</label>
                    </div>

                </div>
                <div class="mb-3">
                    <h6>Puntuación</h6>
                    <mat-slider min="200" max="500">
                        <input value="300" matSliderStartThumb>
                        <input value="400" matSliderEndThumb>
                      </mat-slider>
                </div>
                <div class="mb-3">
                    <h6>Fecha de estreno</h6>
                    <label for="desde" class="form-label">Desde</label>
                    <input type="date" class="form-control" id="desde">
                    <label for="hasta" class="form-label">Hasta</label>
                    <input type="date" class="form-control" id="hasta">
                </div>
                <button class="btn btn-dark w-100">Aplicar</button>
            </div>
        </div>


        <div class="col-10">
            <div class="row">
                @for(movie of movieList; track movie.id) {
                    <div class="col-2 mb-4 d-flex">
                        <div class="card movie-card">
                            <img [src]="getImage(movie.poster_path)" alt="{{movie.title}}">
                            <div class="card-body pt-0">
                                <p class="movie-title">{{movie.title}}</p>
                                <p class="card-text">{{movie.release_date | date:"mediumDate"}}</p>
                            </div>
                            <div class="rating">{{getRatingPercentaje(movie.vote_average) | number:'1.0-0'}}%</div>
                        </div>
                    </div>
                }
                
            </div>
        </div>
    </div>
</div>
